  .content {
    display: flex;
    flex-wrap: wrap;
  }
  
  .recent-news {
    order: 5;
  } 
  
  .header__menu {
    display: none;
  }

  @media screen and (max-width: 549px){
    .content {
      flex-flow: column wrap;
    }
  
    .header__title {
      font-size: 2em;
      vertical-align: bottom;
    }
  
    .header__logo {
      height: 36px;
      margin: 0.5em 0.25em;
    }

    .nav {
        z-index: 1;
        width: 100%;
        height: 100%;
        position: absolute;
        transform: translate(600px, 0);
        background-color: #fff;
    }

    .nav.open {
        transform: translate(0, 0);
    }

    .nav__item {
        display: list-item;
        border-bottom: 1px solid #E0E0E0;
        width: 100%;
        text-align: left;
    }

    .header__menu {
        display: inline-block;
        right: 0;
        position: absolute;
        padding: 0.5em 0.25em;
    }

    .bar1, .bar2, .bar3 {
        width: 30px;
        height: 5px;
        background-color: #333;
        margin: 6px 0;
        transition: 0.4s;
    }

    .change .bar1 {
        transform: rotate(-45deg) translate(-9px, 6px);
    }

    .change .bar2 {
        opacity: 0;
    }

    .change .bar3 {
        transform: rotate(45deg) translate(-8px, -8px);
    }
  }
  
  @media screen and (min-width: 550px){
    .hero{
      width: 70%;
      order: 1;
    }
  
    .weather{
      width: 30%;
      order: 0;
    }
  
    .scores {
      width: 100%;
      order: 4;
    }
  
    .top-news {
      width: 100%;
      order: 3;
    }
  }
  
  @media screen and (min-width: 700px){
    .hero {
      width: 70%;
      order: 1;
    }
  
    .weather {
      width: 30%;
      order: 0;
    }
  
    .top-news {
      width: 50%;
      order: 2;
    }
  
    .scores {
      width: 50%;
      order: 3;
    }
  }
  
  @media screen and (min-width: 800px){
    main, .header__inner, .nav, .content {
      width: 900px;
      margin: auto;
    }
  }